<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="static/robottest.css">
    </head>
    <body>
        <div class="centered">
            <video autoplay loop muted playsinline>
                <source src="assets/broken.mp4" type="video/mp4">
            </video>
        </div>
        <div class="centered">
            <span>500 something happened!</span>
        </div>
    </body>
</html>