<!DOCTYPE html>
<html>

<head>
    <script>
        function post(form_id) {
            document.getElementById(form_id).submit();
        }
    </script>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/robottest.css">
</head>

<body>
    <div class="centered">
        <video autoplay loop muted playsinline>
            <source src="/assets/deeplinking.mp4" type="video/mp4">
        </video>
    </div>
    <div class="centered">
        <h4>{{name}}, what do you want in your basket?</h4>
    </div>
    <div class="centered">
        {% if multiple %}
        <span class="note">Your platform supports multiple items to be returned :)</span>
        {% else %}
        <span class="note">Your platform does not seem to support multiple items to be returned (accept_multiple is
            false) :(</span>
        {% endif %}
    </div>
    <div class="centered spaced dlchoices">
        <a href="#" onclick="post('empty')" class="secondary">Nothing! (Cancel)</a>
    </div>
    <div class="centered spaced dlchoices">
        <a href="#" onclick="post('single')" class="secondary">A single not graded LTI Link (newwin)</a>
        <a href="#" onclick="post('single_graded')" class="secondary" {% if not gradable %}
            style="text-decoration: line-through;" {% endif %}>A single <b>graded</b> LTI Link</a>
        <a href="#" onclick="post('single_graded_subreview')" class="secondary" {% if not gradable %}
            style="text-decoration: line-through;" {% endif %}>A single <b>graded with submission review</b>LTI Link</a>
        <a href="#" onclick="post('single_graded_subreview_full')" class="secondary" {% if not gradable %}
            style="text-decoration: line-through;" {% endif %}>A single <b>graded with submission review full</b>LTI
            Link</a>
        <a href="#" onclick="post('multiple')" class="primary" {% if not multiple %}
            style="text-decoration: line-through;" {% endif %}> Why choose? One of each please!</a>
    </div>
    <div class="centered spaced dlchoices">
        <a href="#" onclick="post('embed')" class="secondary" {% if not 'image' in types %}
            style="text-decoration: line-through;" {% endif %}>HTML embed image with Bad Robot JS</a>
        <a href="#" onclick="post('image')" class="secondary" {% if not 'htmlFragment' in types %}
            style="text-decoration: line-through;" {% endif %}>The Bot icon</a>
        <a href="#" onclick="post('link')" class="secondary" {% if not 'link' in types %}
            style="text-decoration: line-through;" {% endif %}>Weblink</a>
    </div>
    <form id="empty" action="{{ return_url }}" method="post">
        <input type="hidden" name="JWT" value="{{ empty }}">
    </form>
    <form id="single" action="{{ return_url }}" method="post">
        <input type="hidden" name="JWT" value="{{ jwt_single }}">
    </form>
    <form id="single_graded" action="{{ return_url }}" method="post">
        <input type="hidden" name="JWT" value="{{ jwt_single_graded }}">
    </form>
    <form id="single_graded_subreview" action="{{ return_url }}" method="post">
        <input type="hidden" name="JWT" value="{{ jwt_single_graded_subreview }}">
    </form>
    <form id="single_graded_subreview_full" action="{{ return_url }}" method="post">
        <input type="hidden" name="JWT" value="{{ jwt_single_graded_subreview_full }}">
    </form>
    <form id="multiple" action="{{ return_url }}" method="post">
        <input type="hidden" name="JWT" value="{{ jwt_multiple }}">
    </form>
    <form id="embed" action="{{ return_url }}" method="post">
        <input type="hidden" name="JWT" value="{{ jwt_embed }}">
    </form>
    <form id="image" action="{{ return_url }}" method="post">
        <input type="hidden" name="JWT" value="{{ jwt_image }}">
    </form>
    <form id="link" action="{{ return_url }}" method="post">
        <input type="hidden" name="JWT" value="{{ jwt_link }}">
    </form>

</body>

</html>