<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/robottest.css">
</head>

<body class="results">
    <div class="centered">
        <div>
            <h1>LTI™ Robotest</h1>
            <em>An easy way to test your platform for its support for LTI Advantage.</em>
            <br />
            <em>For more info and resources on LTI visit <a href="https://imsglobal.org">IMS Global</a> - <a
                    href="https://github.com/claudevervoort/ltiautotest">git repo</a></em>
            <h2>It's not because you're a robot you don't like cookies...</h2>
            <p>This page sets 1st party session cookies (lax, none). To clear access as first party, you sometime need
                to <button onclick="alert('Gling!')">interact</button> with me!</p>
            <ul>
                <li>First Party lax: {{ cookie_fp_lax }}</li>
                <li>First Party none: {{ cookie_fp_none }}</li>
                <li>Third Party none: {{ cookie_tp_none }}</li>
            </ul>
            <h2>Moodle instructions - automatic configuration (3.10+)</h2>
            <p>The registration URL is {{base_url}}/register. Paste it as the Tool URL and click Add LTI
                Advantage</p>
            <h2>Moodle instructions - manual configuration</h2>
            <ul>
                <li>As admin got to Site Admin to add an external tool</li>
                <li>Select <em>configure a tool manually</em></li>
                <li>
                    <bold>Tool url</bold> {{ base_url }}
                </li>
                <li>
                    <bold>LTI Version</bold>1.3
                </li>
                <li>
                    <bold>Initiation Login URL</bold> {{ base_url }}/oidc/init
                </li>
                <li>
                    <bold>Redirect URI</bold> {{ base_url }}/oidc/launch
                </li>
                <li>
                    <bold>enable <em>Deep Linking (Content-Item Message)</em></bold>
                </li>
                <li>
                    <bold>Public Key</bold> <em>Use JWKS URI unless not supported by youur moodle version</em>
                    <ul>
                        <li>JWKS URI: {{ base_url }}/.well-known/jwks.json</li>
                        <li>Public key if 3.8 or earlier: copy from <a
                                href="{{ base_url }}/.well-known/publickey.pem">public key</a>
                    </ul>
                </li>
                <li>
                    <bold>Services</bold>
                    <ul>
                        <li>
                            <bold>AGS</bold> for grade sync and column management
                        </li>
                        <li>
                            <bold>Names and Roles</bold> retrieve members as per privacy settings
                        </li>
                    </ul>
                </li>
                <li>
                    <bold>Custom Parameters</bold>
                    {% for k in custom_params %}
                    <ul>
                        <li>{{ k }}={{ custom_params[k] }}</li>
                    </ul>
                    {% endfor %}
                </li>
                <li>
                    <bold>Privacy</bold>
                    <ul>
                        <li>
                            <bold>Accept grades</bold>Based on Tool Item definition or Delegates to Teacher
                        </li>
                    </ul>
                </li>
                <li>
                    <bold>Save</bold>
                </li>
                <li>If previous to MDL-67072 (3.8 or before) you need to add the client id to the init login
                    <ul>
                        <li>Edit the newly created tool</li>
                        <li>Modify the login uri with the client_id generated for that tool</li>
                        <li>{{ base_url }}/oidc/init?clientid=generated_value</li>
                    </ul>
                </li>

            </ul>

            <h2>Brightspace instructions - automatic configuration</h2>
            <p>The registration URL is {{base_url}}/register?lms=d2l. Paste it as the Tool URL and click Add LTI
                Advantage</p>
            <h2>Brightspace instructions - manual configuration</h2>
            <h3>Step 1: Register the LTI Advantage tool</h3>
            <ul>
                <li>In Admin Tools navigate to Manage Extensibility</li>
                <li>Select <em>LTI Advantage / Register Tool / Standard</em>
                    <ul>
                        <li>
                            <bold>Target Link uri</bold> {{ base_url }}
                        </li>
                        <li>
                            <bold>LTI Version</bold>1.3
                        </li>
                        <li>
                            <bold>OpenId Connect Login URL</bold> {{ base_url }}/oidc/init?lms=d2l
                        </li>
                        <li>
                            <bold>Redirect URL</bold> {{ base_url }}/oidc/launch
                        </li>
                        <li>
                            <bold>Keyset URL</bold>{{ base_url }}/.well-known/jwks.json
                        </li>
                        <li>
                            <bold>Extensions</bold> Select all extensions
                        </li>
                        <li>
                            <bold>Send Institution Role</bold> Checked
                        </li>
                        <li>
                            <bold>Subsitution Parameters</bold>
                            {% for k in custom_params %}
                            <ul>
                                <li>{{ k }}={{ custom_params[k] }}</li>
                            </ul>
                            {% endfor %}
                        </li>
                    </ul>
                </li>
            </ul>
            <h3>Step 2: Create a tool deployment</h3>
            <ul>
                <li>In Admin Tools navigate to External Learning Tools</li>
                <li>LTI Advantage > New deployment </li>
                <li>
                    <bold>Tool</bold> Select the tool created in the 1st step
                </li>
                <li>
                    <bold>Extensions</bold> Select all extensions
                </li>
                <li>
                    <bold>Security</bold> Select all EXCEPT Anonymous and Open as Extern Resource
                </li>
                <li>Make the tool available to the courses/orgs as desired</li>
            </ul>
            <h3>Step 3: Create a deep linking placement</h3>
            <ul>
                <li>Once the deployment completed, select Links to create a new placement</li>
                <li>
                    <bold>Name</bold> Add Robotest
                </li>
                <li>
                    <bold>URL</bold> {{ base_url }}
                </li>
                <li>
                    <bold>Type</bold> Deep Linking Quicklink
                </li>
                <li>Save and Close</li>
            </ul>
            <p>And now you can bring the test course links using deeplinking in your course: Course Content > Add
                existing activities > Add Robotest</p>

            <h2>Sakai instructions - automatic configuration</h2>
            <p>The registration URL is {{base_url}}/register. Paste it as the Tool URL and click Add LTI
                Advantage</p>

            <h2>Schoology - manual configuration</h2>
            <p>
                Use the parameters above to register Robotest manually. Schoology support is implied by the issuer using
                the
                information provided on the <a href="https://developers.schoology.com/app-platform/lti-apps#toc-item-0"
                    target="_blank">Schoology Documentation</a>.</p>
            </p>

            <h2>Other LTI Advantage LMSes - automatic configuration</h2>
            <p>The registration URL is {{base_url}}/register?lms=generic. Paste it as the Tool URL and click Add LTI
                Advantage</p>

            <h2>Other LMSes - manual configuration</h2>
            <p>
                Since there is no database in Robotest, the login URI must contain the 3 parameters (oidc auth, token
                and jwks endpoints). If those starts with the same base URL as the ISS,
                the value may just be the path from the <code>iss</code>. For example, if the <code>iss</code> is
                <code>https://myplatform.io</code> and the <code>token_url</code>
                <code>https://myplatform.io/lti/token</code> then this suffice: <code>token_url=\lti\token</code>.
            </p>
            <ul>
                <li>
                    <bold>Target Link uri</bold> {{ base_url }}
                </li>
                <li>
                    <bold>LTI Version</bold>1.3
                </li>
                <li>
                    <bold>OpenId Connect Login URL</bold> {{ base_url
                    }}/oidc/init?lms=generic&token_url={token_url}&oidc_auth={oidc_auth_url}&jwks_url={jwks_url}
                </li>
                <li>
                    <bold>Redirect URL</bold> {{ base_url }}/oidc/launch
                </li>
                <li>
                    <bold>Keyset URL</bold>{{ base_url }}/.well-known/jwks.json
                </li>
                <li>
                    <bold>Extensions</bold> Select all extensions
                </li>
                <li>
                    <bold>Send Institution Role</bold> Checked
                </li>
                <li>
                    <bold>Subsitution Parameters</bold>
                    {% for k in custom_params %}
                    <ul>
                        <li>{{ k }}={{ custom_params[k] }}</li>
                    </ul>
                    {% endfor %}
                </li>
            </ul>
            </li>

            <h2>Common Cartridge</h2>
            This <a href="/assets/robotest_in_a_box.imscc" target="_blank">IMS Common Cartridge 1.1</a> contains 2
            LTI
            links, one for the test server, one for the official endpoint.</a>
        </div>
        <img style="max-width: 40%;" src="/assets/box_cropped.png">
    </div>
</body>

</html>