@keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}

body {
    background-color: rgb(117, 125, 131);
    color: white;
    font-family: 'Roboto', sans-serif;
    perspective: 1000px;
}

span.note {
    font-size: 70%;
    color: lightgoldenrodyellow;
}

video {
    max-width: 70%;
}

div.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

table.results {
    border: none;
    color: lightyellow;
    transform: perspective(400px) rotateY(20deg);
}

table.results tr.category {
    color: lightgoldenrodyellow;
}

table.results th, table.results td {
  border-bottom: 1px solid lightyellow;
}

table.results td {
    font-size: 80%;
}

table.results tr.result th {
    font-weight: normal;
    text-align: right;
}

table.results tr.result.failed.required {
    color: darkred;
}

table.results tr.result.failed {
    color: lightpink;
}

table.results tr.result.failed th {
    text-decoration: line-through;
}

table.results tr {
    animation: fade-in 2s ease-in ;
    opacity: 0;
    animation-fill-mode: forwards;
}

table.results tr:nth-child(1) {
    animation-delay: 0.5s;
}

table.results tr:nth-child(2) {
    animation-delay: 1s;
}
table.results tr:nth-child(3) {
    animation-delay: 1.5s;
}
table.results tr:nth-child(4) {
    animation-delay: 2s;
}
table.results tr:nth-child(5) {
    animation-delay: 2.5s;
}
table.results tr:nth-child(6) {
    animation-delay: 3s;
}
table.results tr:nth-child(7) {
    animation-delay: 3.5s;
}
table.results tr:nth-child(8) {
    animation-delay: 4s;
}

#dlchoices a {
    padding-inline-start: 10px;
    padding-inline-end: 10px;
}

a.primary {
    color: lightgray;
    font-weight: bold;
}

a.primary:hover {
    color: white;
    font-weight: bolder;
}

a.secondary {
    font-size: 80%;
    color: lightgoldenrodyellow;
    font-weight: normal;
}

a.secondary:hover {
    color: yellow;
    font-weight: bold;
}